/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

input {
    border-radius: 5;
    border-color: green;
    background-color: lightgreen;
    font-weight: 800;
}

.container {
    background-color: lightgray;
}

button {
    color: green;
    font-weight: 1000;
    background-color: lightgray;
}

.personal {
    color: purple;
    font-weight: 800;
    font-family: sans-serif;
    background-color: yellow;
    font-size: 5vh;
}

.education, .experience{
    color: purple;
    font-weight: 600;
    font-family: sans-serif;
    background-color: lightyellow;
    font-size: 3vh;

}